body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: left;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'Pretendard';
}

/**************** font ******************/
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Thin.woff') format('woff'),
    url('./assets/fonts/Pretendard-Thin.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-ExtraLight.woff') format('woff')
      url('./assets/fonts/Pretendard-ExtraLight.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Light.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Light.woff') format('woff'),
    url('./assets/fonts/Pretendard-Light.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Regular.woff') format('woff'),
    url('./assets/fonts/Pretendard-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Medium.woff') format('woff'),
    url('./assets/fonts/Pretendard-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-SemiBold.woff') format('woff'),
    url('./assets/fonts/Pretendard-SemiBold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Bold.woff') format('woff'),
    url('./assets/fonts/Pretendard-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-ExtraBold.woff') format('woff'),
    url('./assets/fonts/Pretendard-ExtraBold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Black.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Black.woff') format('woff'),
    url('./assets/fonts/Pretendard-Black.otf') format('otf');
}

.Title{
  background: linear-gradient(90deg, rgba(116,192,252,1) 0%, rgba(34,139,230,1) 94%);
  width: 100vw;
  height: 70vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.TxtBox{
  width: 50%;

}
.H1Styled{
  font-size: 42px;
  color: #fff;
  font-weight: 700;
  margin-left: 5vw;

}

.Title span{
  display: block;
  margin-top: 10px;
}

.Title p{
  margin-left: 5vw;
 
}
.about{
  width: 510px;
  height: 280px;
  margin-left: 50px;
  
  filter: drop-shadow( 0px 4px 4px 0px #cdcdcd);


}

.Btn{
padding: 20px;
border-radius: 10px;
background: #009BF3;
border: 1px solid #009BF3;
color:  #fff;
font-size: 12px;
margin-right: 73vw;
cursor: pointer;

}

.TitleList{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.ListTxt{
  
  width: 50%;

}

.H1Styled2{
  font-size: 42px;
  color: #111;
  font-weight: 700;
  margin-left: 5vw;
}

.H1Styled2 span{display: block; 
   margin-top: 10px;}

.ListTxt p{
  margin-left: 5vw;
}

.list{
  width: 510px;
  height: 280px;
  margin-left: 120px;
}

.TitleCheck{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F3F9FE;

}
.CheckTxt{
  
  width: 50%;

}
.CheckTxt p{
  margin-left: 5vw;
  
}

.check{
  width: 580px;
  height: 340px;
}

.TitleCheck1{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#fff;
}
.BadgeTxt{
  
  width: 50%;
  margin-top: 60px;

}
.badge{
  width: 510px;
  height: 380px;
  margin-left: 120px;
  margin-top: 60px;

}

.BadgeTxt p{
  margin-left: 5vw;
}
.TitleCheck1{
  width: 100vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#fff;
}

.TitleCheck2{
  background: linear-gradient(180deg, rgb(133, 196, 245) 0%, rgb(84, 163, 232) 94%);
  width: 100vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.chat{
  width: 410px;
  height: 300px;
  margin-left: 120px;
}
.Title2{

  width: 100vw;

  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F3F9FE;
  padding: 50px 0 55px
}

.TitleBox{

  max-width:300px;
  margin: 0 auto;

}
.TitleBox h1{
  font-size:36px;
  line-height:46px;
  letter-spacing: -0.5px;
  color: #494E66;
}
.How1{
  max-width: 558px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.Num{

  font-size:60px;
  font-weight: 800;
  color: #b0e1fd;


}
.HowTxt{
  max-width: 558px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.5px;
}