body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: left;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'Pretendard';
}

/**************** font ******************/
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Thin.woff') format('woff'),
    url('./assets/fonts/Pretendard-Thin.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-ExtraLight.woff') format('woff')
      url('./assets/fonts/Pretendard-ExtraLight.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Light.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Light.woff') format('woff'),
    url('./assets/fonts/Pretendard-Light.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Regular.woff') format('woff'),
    url('./assets/fonts/Pretendard-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Medium.woff') format('woff'),
    url('./assets/fonts/Pretendard-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-SemiBold.woff') format('woff'),
    url('./assets/fonts/Pretendard-SemiBold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Bold.woff') format('woff'),
    url('./assets/fonts/Pretendard-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-ExtraBold.woff') format('woff'),
    url('./assets/fonts/Pretendard-ExtraBold.otf') format('otf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-style: normal;
  src: url('./assets/fonts/Pretendard-Black.woff2') format('woff2'),
    url('./assets/fonts/Pretendard-Black.woff') format('woff'),
    url('./assets/fonts/Pretendard-Black.otf') format('otf');
    

}
